 body
            {
                text-align: center;
                margin:0; 
                padding:0;
                background:orange; 
                background-size:100%;
                background-attachment: fixed;
                font-family: Calibri, georgia, times new roman, serif;
            }
            header
            {
                padding-top:5px;
                width:1000px;
                height:350px;
                background: light orange;
                margin:0 auto;
                text-align: center;
            }
            nav
            {
                width:1000px;
                height:40px;
                background:black;
                margin:0 auto;
            }
            div#content
            {
                text-align: center;
                width:1000px;
                height:auto;
                background:black;
                margin:0 auto;
                color:#FFF;}
            p
            {

                margin:0;
                padding:30px 30px 0px 30px ;

            }
h2 {text-align: center;background-color: black; border: 5px solid darkred; border-radius: 15px; padding-left:15px;}
            
            nav a 
            {
                color: #fff;
                text-decoration: none;
                display: inline-block;
                padding: 10px 83px;
                font-family: calibri, sans-serif;
            }
            nav a:hover 
            {
                color: black;
                background: #cc300a;
            }
            a 
            {
                color: red;
            }
form {text-align: center; margin-left:10px;}

button {width: 200px;}
            
            footer
            {
               
                font-size: 10px;
				margin-left: auto;
				margin-right: auto;

            }